{{template "header.tmpl"}}
    <header>
        <h1>Trucks</h1>
        <p>Lots of trucks</p>
        {{template "nav.tmpl"}}
    </header>

    <div class="trucks" style="display: flex; justify-content: space-around;">
        {{range $index, $truck := .}}
        <div id="truck-{{$index}}">
            <h2>Truck no. {{$index}}</h2>
            <p>Informations</p>
            <ul>
                <li>{{$truck.Id}}</li>
                <li>{{$truck.FuelType}}</li>
                <li>{{$truck.Payload}} T</li>
                <li>{{$truck.Distance}}Km</li>
            </ul>
        </div>
        {{end}}
    </div>
{{template "footer.tmpl"}}